body {
    margin: 0;
    background-color: grey;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    border: 2px solid white;
    padding: 15px;
    margin: 5% 0% 0% 0%;
    background-color: rgba(255, 255, 255, .2);
    text-align: center;

    align-self: center;
    border-radius: 50px;
}

a {
    font-weight: bold;
    font-size: 20px;

    color: red;

    text-decoration: none;
    text-shadow: 0px 0px 8px #3b424f, 0px 0px 4px #FFF;
    transition: color .5s;

}

a:hover{
    color: green;
}

.rowContainerS {
    display:flex;
    flex-direction: column;
}